<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>

    <defaultDriver>chrome</defaultDriver>
    <defaultDriver path="src/test/resources/drivers/chromedriver.exe">Chrome</defaultDriver>

    <!-- Base URL of the application to test -->
    <baseUrl>http://localhost:8080/</baseUrl>
    <class>net.continuumsecurity.GrootAnalyzerNew</class>

    <sslyze>
        <path>/opt/sslyze/sslyze_cli.py</path>
        <option>--regular</option>
    </sslyze>

    <users>
        <user username="teacher" password="password"/>
        <user username="student" password="password"/>
        <user username="admin" password="password"/>
    </users>

    <defaultUsername>student</defaultUsername>
    <defaultPassword>password</defaultPassword>

    <scanner>
        <ignoreUrl>.*logout.*</ignoreUrl>
        <spiderUrl>baseUrl</spiderUrl>
    </scanner>

    <upstreamProxy>
        <host></host>
        <port></port>
    </upstreamProxy>

    <incorrectPassword>pogresnaSifra</incorrectPassword>
    <incorrectUsername>pogresanUsername</incorrectUsername>


    <zapPath>zap/zap.bat</zapPath>

</web-app>
