<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app>

    <defaultDriver>chrome</defaultDriver>
    <defaultDriver path="src/test/resources/drivers/chromedriver.exe">Chrome</defaultDriver>

    <!-- Base URL of the application to test -->
    <!-- <baseUrl>http://localhost:8080/</baseUrl> -->
    <protectedAppClass>net.continuumsecurity.GrootApplicationClient</protectedAppClass>
    <unprotectedAppClass>net.continuumsecurity.GrootApplicationService</unprotectedAppClass>

    <protectedAppUrl>http://localhost:8082/</protectedAppUrl>
    <unprotectedAppUrl>http://localhost:8081/</unprotectedAppUrl>

    <users>
        <user username="teacher" password="password"/>
        <user username="student" password="password"/>
        <user username="admin" password="password"/>
    </users>

    <defaultUsername>student</defaultUsername>
    <defaultPassword>password</defaultPassword>

    <upstreamProxy>
        <host></host>
        <port></port>
    </upstreamProxy>

    <zapPath>zap/zap.bat</zapPath>

</web-app>
