<section>
    <div layout="row">
        <div flex-gt-sm="70" flex>
            <h1 class="md-headline">Courses</h1>
        </div>
        <div ng-if="!adminVm.isCourseFormVisible">
            <md-button class="md-raised md-accent" id="admin-btn-addCourse" ng-click="adminVm.toggleCourseFormVisibility()">New Course</md-button>
        </div>
        <div ng-if="adminVm.isCourseFormVisible">
            <md-button class="md-raised md-accent" id="admin-btn-courseCancel" ng-click="adminVm.toggleCourseFormVisibility()">Cancel</md-button>
        </div>
    </div>
    <div ng-if="!adminVm.isCourseFormVisible">
        <div layout="column" flex-md flex-gt-md="50">
            <md-list-item layout-padding ng-repeat="course in adminVm.courses">
                <h3>{{ course.name }}</h3>
                <md-button id="admin-btn-deleteCourse" class="md-raised md-accent md-secondary" ng-click="adminVm.deleteCourse(course)">Delete</md-button>
            </md-list-item>
        </div>
    </div>
    <div ng-if="adminVm.isCourseFormVisible">
        <md-content layout-padding layout-align="center center">
            <div flex-gt-md="40" md-whiteframe="3">
                <form layout="column">
                    <md-input-container>
                        <label>Name</label>
                        <input id="admin-input-course-name" ng-model="adminVm.newCourse.name"/>
                    </md-input-container>
                    <md-button id="admin-btn-saveCourse" class="md-raised md-primary" ng-click="adminVm.addCourse()">Save</md-button>
                </form>
            </div>
        </md-content>
    </div>
</section>