<section layout="row" flex layout-fill>
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4"
            layout="column">
        <md-toolbar>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-item>
                    <a ng-click="adminVm.toCourses()">
                        <md-item-content>
                            <div class="inset">Courses</div>
                        </md-item-content>
                    </a>
                </md-item>
                <md-item>
                    <a ng-click="adminVm.toUsers()">
                        <md-item-content>
                            <div class="inset">Users</div>
                        </md-item-content>
                    </a>
                </md-item>
                <md-item>
                    <a ng-click="adminVm.toUserToCourse()">
                        <md-item-content>
                            <div class="inset">Add user to course</div>
                        </md-item-content>
                    </a>
                </md-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content flex layout="column" layout-padding>
        <ui-view></ui-view>
    </md-content>
</section>