<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
<policy>Default Policy</policy>
<scanner>
<level>MEDIUM</level>
<strength>MEDIUM</strength>
</scanner>
<plugins>
<p6>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p6>
<p7>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p7>
<p40009>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40009>
<p40012>
<enabled>true</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40012>
<p40014>
<enabled>true</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40014>
<p40018>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40018>
<p90019>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p90019>
<p90020>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p90020>
<p0>
<enabled>false</enabled>
</p0>
<p20019>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p20019>
<p30001>
<enabled>false</enabled>
</p30001>
<p30002>
<enabled>false</enabled>
</p30002>
<p40003>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40003>
<p40008>
<enabled>false</enabled>
</p40008>
<p40016>
<enabled>true</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40016>
<p40017>
<enabled>true</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40017>
<p50000>
<enabled>false</enabled>
</p50000>
<p42>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p42>
<p10045>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p10045>
<p10048>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p10048>
<p20012>
<enabled>false</enabled>
</p20012>
<p20015>
<enabled>false</enabled>
</p20015>
<p20016>
<enabled>false</enabled>
</p20016>
<p20017>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p20017>
<p20018>
<enabled>false</enabled>
</p20018>
<p40013>
<enabled>false</enabled>
</p40013>
<p40019>
<enabled>false</enabled>
</p40019>
<p40020>
<enabled>false</enabled>
</p40020>
<p40021>
<enabled>false</enabled>
</p40021>
<p40022>
<enabled>false</enabled>
</p40022>
<p90021>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p90021>
<p90023>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p90023>
<p90024>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p90024>
<p90025>
<enabled>false</enabled>
</p90025>
<p10095>
<enabled>false</enabled>
</p10095>
<p30003>
<enabled>false</enabled>
</p30003>
<p90028>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p90028>
<p20014>
<enabled>false</enabled>
</p20014>
<p40023>
<enabled>false</enabled>
</p40023>
<p41>
<enabled>false</enabled>
</p41>
<p43>
<enabled>false</enabled>
</p43>
<p10107>
<enabled>false</enabled>
</p10107>
<p40015>
<enabled>false</enabled>
<strength>HIGH</strength>
<level>LOW</level>
</p40015>
<p40024>
<enabled>false</enabled>
</p40024>
<p60100>
<enabled>false</enabled>
</p60100>
<p60101>
<enabled>false</enabled>
</p60101>
<p10051>
<enabled>false</enabled>
</p10051>
<p10104>
<enabled>false</enabled>
</p10104>
<p10106>
<enabled>false</enabled>
</p10106>
<p40025>
<enabled>false</enabled>
</p40025>
<p10047>
<enabled>false</enabled>
</p10047>
<p90027>
<enabled>false</enabled>
</p90027>
</plugins>
</configuration>
